version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: analytics_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: analytics_user
      POSTGRES_PASSWORD: analytics_pass
      POSTGRES_DB: analytics
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
